In [1]:
%matplotlib inline

In [42]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from collections import Counter
from tqdm import tqdm

In [43]:
nhl_data = pd.read_csv('nhl_seasonal_data.csv')

In [44]:
nhl_data = nhl_data.drop(columns=['Unnamed: 0', 'Team'])

In [45]:
#nhl_data = pd.get_dummies(nhl_data, columns=['Pos'])
nhl_data.head()

    A   Age     Full Name   G  GP  PTS Pos   Season
0   1  20.0    A.J. Greer   0   5    1  LW  2016-17
1   3  21.0    A.J. Greer   0  17    3  LW  2017-18
2   0  20.0  Aaron Broten   0   2    0  LW  1980-81
3  24  21.0  Aaron Broten  15  58   39  LW  1981-82
4  39  22.0  Aaron Broten  16  73   55   C  1982-83

In [46]:
positions = nhl_data['Pos']

In [47]:
counts = Counter(positions)
print(counts)

Counter({'D': 12954, 'C': 9125, 'LW': 7916, 'RW': 7472, nan: 88, 'LW/C': 27, 'C/LW': 21, 'C/RW': 16, 'RW/C': 15, 'LW/RW': 11, 'RW/LW': 6, 'RW/LW/C': 1, 'LW/RW/C': 1})

In [48]:
for _ in tqdm(range(len(nhl_data['Season']))):
    nhl_data['Season'][_] = int(nhl_data['Season'][_][:4])

  0%|          | 0/37653 [00:00<?, ?it/s]/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

100%|██████████| 37653/37653 [1:32:02<00:00,  6.82it/s]

In [50]:
#nhl_data.to_csv('revised_nhl.csv')

In [76]:
nhl_data_rev = pd.read_csv('revised_nhl.csv')

In [77]:
nhl_data_rev = nhl_data_rev.drop(columns=['Unnamed: 0'])
nhl_data_rev.head()

    A   Age     Full Name   G  GP  PTS Pos  Season
0   1  20.0    A.J. Greer   0   5    1  LW    2016
1   3  21.0    A.J. Greer   0  17    3  LW    2017
2   0  20.0  Aaron Broten   0   2    0  LW    1980
3  24  21.0  Aaron Broten  15  58   39  LW    1981
4  39  22.0  Aaron Broten  16  73   55   C    1982

In [78]:
positions = nhl_data_rev['Pos']
counts = Counter(positions)
print(counts)

Counter({'D': 12955, 'C': 9148, 'LW': 7962, 'RW': 7588})

In [79]:
nhl_data_rev = pd.get_dummies(nhl_data_rev, columns=['Pos'])

In [80]:
nhl_data_rev.head()

    A   Age     Full Name   G  GP  PTS  Season  Pos_C  Pos_D  Pos_LW  Pos_RW
0   1  20.0    A.J. Greer   0   5    1    2016      0      0       1       0
1   3  21.0    A.J. Greer   0  17    3    2017      0      0       1       0
2   0  20.0  Aaron Broten   0   2    0    1980      0      0       1       0
3  24  21.0  Aaron Broten  15  58   39    1981      0      0       1       0
4  39  22.0  Aaron Broten  16  73   55    1982      1      0       0       0